body
{
background-color:#a1bad1;
}
#one
{
	
	top:300px;
	left:950px;
	text-align:center;
	width:400px;
	height:400px;
	position:absolute;
	background-color:red;
	z-index:1;
	display:box;
	box-align:center;
	font-family:Arial;
	border-radius:200px;
	font-weight:bold;
	opacity:0.8;
	
}
#two
{
	margin:auto;
	top:350px;
	left:1000px;
	text-align:center;
	width:300px;
	height:300px;
	position:absolute;
	background-color:orange;
	z-index:2;
	display:box;
	box-align:center;
	border-radius:150px;
	opacity:0.8;
	
}
#three
{
	margin:auto;
	top:450px;
	left:1100px;
	text-align:center;
	width:100px;
	height:100px;
	position:absolute;
	background-color:white;
	z-index:3;
	opacity:0.8;
	display:box;
	font-family:Helvetica;
	box-align:center;
	border-radius:50px;
}
#line1
{
	text-align:center;
	font-family:Arial;
	font-size:xx-large;
	color:white;
	position:absolute;
	z-index:-1;
}
a
{
	color:#0000ff;
	text-decoration:none;
}
#in
{
	color:orange;
}
#let
{
	color:green;
}
#colg
{
	color:#800000;
	font-size:xx-large;
}
.hidden
{
	display:block;
	font-size:xx-large;
	color:white;
	text-indent:250px;
	margin-top:80px;
}
#canvasid
{
	display:none;
	position:absolute;
	left:200px;
}
#canvasid2
{
	display:none;
	position:absolute;
	left:650px;
}